<div x-data="{ data: null }">
  <div class="card">
    <select x-on:change="data = await getProfile($event.target.value);">
      <option value="">Competitor</option>
      {{#profiles}}
      <option value="{{profileId}}">{{name}}</option>
      {{/profiles}}
    </select>

    <select x-show="data?.seasons?.length > 0">
      <option value="">Season</option>
      <template x-for="season in data?.seasons || []">
        <option x-bind:value="season.seasonId" x-text="season.name"></option>
      </template>
    </select>
  </div>
</div>