<div class="grid fill-2 items-y-stretch">
  <div class="card text-center">
    <h3>{{hatchet.bullseye.scorePerAxe}}</h3>
    <hr>
    <h4>Hatchet Bullseye</h4>
    <p>Score Per Axe</p>
  </div>
  <div class="card text-center">
    <h3>{{hatchet.clutch.scorePerAxe}}</h3>
    <hr>
    <h4>Hatchet Clutch</h4>
    <p>Score Per Axe</p>
  </div>
  <div class="card text-center">
    <h3>{{bigAxe.bullseye.scorePerAxe}}</h3>
    <hr>
    <h4>Big Axe Bullseye</h4>
    <p>Score Per Axe</p>
  </div>
  <div class="card text-center">
    <h3>{{bigAxe.clutch.scorePerAxe}}</h3>
    <hr>
    <h4>Big Axe Clutch</h4>
    <p>Score Per Axe</p>
  </div>
</div>