<div class="grid stack fill-2 items-y-stretch">
  <div class="card text-center">
    <h3>Hatchet Bullseye</h3>

    <table>
      <tbody>
        <tr>
          <th>Score</th>
          <th>Count</th>
          <th>%</th>
        </tr>

        <tr>
          <td>5</td>
          <td>{{hatchet.bullseye.count.5}}</td>
          <td>{{hatchet.bullseye.percent.5}}%</td>
        </tr>

        <tr>
          <td>3</td>
          <td>{{hatchet.bullseye.count.3}}</td>
          <td>{{hatchet.bullseye.percent.3}}%</td>
        </tr>

        <tr>
          <td>1</td>
          <td>{{hatchet.bullseye.count.1}}</td>
          <td>{{hatchet.bullseye.percent.1}}%</td>
        </tr>

        <tr>
          <td>0</td>
          <td>{{hatchet.bullseye.count.0}}</td>
          <td>{{hatchet.bullseye.percent.0}}%</td>
        </tr>

        <tr>
          <th>Stat</th>
          <th colspan="2">Value</th>
        </tr>

        <tr>
          <td>Total Attempts</td>
          <td colspan="2">{{hatchet.bullseye.attempts}}</td>
        </tr>

        <tr>
          <td>Score Per Axe</td>
          <td colspan="2">{{hatchet.bullseye.scorePerAxe}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card text-center">
    <h3>Big Axe Bullseye</h3>

    <table>
      <tbody>
        <tr>
          <th>Score</th>
          <th>Count</th>
          <th>%</th>
        </tr>

        <tr>
          <td>5</td>
          <td>{{bigAxe.bullseye.count.5}}</td>
          <td>{{bigAxe.bullseye.percent.5}}%</td>
        </tr>

        <tr>
          <td>3</td>
          <td>{{bigAxe.bullseye.count.3}}</td>
          <td>{{bigAxe.bullseye.percent.3}}%</td>
        </tr>

        <tr>
          <td>1</td>
          <td>{{bigAxe.bullseye.count.1}}</td>
          <td>{{bigAxe.bullseye.percent.1}}%</td>
        </tr>

        <tr>
          <td>0</td>
          <td>{{bigAxe.bullseye.count.0}}</td>
          <td>{{bigAxe.bullseye.percent.0}}%</td>
        </tr>

        <tr>
          <th>Stat</th>
          <th colspan="2">Value</th>
        </tr>

        <tr>
          <td>Total Attempts</td>
          <td colspan="2">{{bigAxe.bullseye.attempts}}</td>
        </tr>

        <tr>
          <td>Score Per Axe</td>
          <td colspan="2">{{bigAxe.bullseye.scorePerAxe}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card text-center">
    <h3>Hatchet Clutch</h3>

    <table>
      <tbody>
        <tr>
          <th>Score</th>
          <th>Count</th>
          <th>%</th>
        </tr>

        <tr>
          <td>7</td>
          <td>{{hatchet.clutch.count.7}}</td>
          <td>{{hatchet.clutch.percent.7}}%</td>
        </tr>

        <tr>
          <td>5</td>
          <td>{{hatchet.clutch.count.5}}</td>
          <td>{{hatchet.clutch.percent.5}}%</td>
        </tr>

        <tr>
          <td>0</td>
          <td>{{hatchet.clutch.count.0}}</td>
          <td>{{hatchet.clutch.percent.0}}%</td>
        </tr>

        <tr>
          <th>Stat</th>
          <th colspan="2">Value</th>
        </tr>

        <tr>
          <td>Total Attempts</td>
          <td colspan="2">{{hatchet.clutch.attempts}}</td>
        </tr>

        <tr>
          <td>Score Per Axe</td>
          <td colspan="2">{{hatchet.clutch.scorePerAxe}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card text-center">
    <h3>Big Axe Clutch</h3>

    <table>
      <tbody>
        <tr>
          <th>Score</th>
          <th>Count</th>
          <th>%</th>
        </tr>

        <tr>
          <td>7</td>
          <td>{{bigAxe.clutch.count.7}}</td>
          <td>{{bigAxe.clutch.percent.7}}%</td>
        </tr>

        <tr>
          <td>5</td>
          <td>{{bigAxe.clutch.count.5}}</td>
          <td>{{bigAxe.clutch.percent.5}}%</td>
        </tr>

        <tr>
          <td>0</td>
          <td>{{bigAxe.clutch.count.0}}</td>
          <td>{{bigAxe.clutch.percent.0}}%</td>
        </tr>

        <tr>
          <th>Stat</th>
          <th colspan="2">Value</th>
        </tr>

        <tr>
          <td>Total Attempts</td>
          <td colspan="2">{{bigAxe.clutch.attempts}}</td>
        </tr>

        <tr>
          <td>Score Per Axe</td>
          <td colspan="2">{{bigAxe.clutch.scorePerAxe}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>