<div class="card">
  <details>
    <summary>{{name}}</summary>

    <table>
      <thead>
        <tr>
          <th></th>
          <th>Opponent</th>
        </tr>
      </thead>

      <tbody>
        {{#matches}}

        <tr>
          <td>
            <img alt="{{opponentName}}" src="/{{opponentId}}.webp" class="size100">
          </td>

          <td>{{opponentName}}</td>
        </tr>

        {{/matches}}
      </tbody>
    </table>

    <div class="grid fill-auto-fill items-y-center">
      {{#matches}}

      <div>
        <img alt="{{profile.name}}" src="/{{profile.profileId}}.webp" class="size100">

        <p class="text-center">{{profile.name}}</p>
      </div>

      <div>
        <p class="text-center">vs.</p>
      </div>

      <div>
        <img alt="{{opponentName}}" src="/{{opponentId}}.webp" class="size100">

        <p class="text-center">{{opponentName}}</p>
      </div>

      {{/matches}}
    </div>

  </details>
</div>