<div class="card">
  <details>
    <summary>{{name}}</summary>

    <div class="grid fill-auto-fill items-y-center">
      {{#matches}}

      <div>
        <img alt="{{opponentName}}" src="/{{opponentId}}.webp" class="size100">

        <p class="text-center">{{opponentName}}</p>
      </div>

      <div>
        <p class="text-center">vs.</p>
      </div>

      <div>
        <img alt="{{opponentName}}" src="/{{opponentId}}.webp" class="size100">

        <p class="text-center">{{profile.name}}</p>
      </div>

      {{/matches}}
    </div>

  </details>
</div>