/* Custom Font */

@font-face {
  font-family: 'custom';
  src: url(data:application/x-font-ttf;charset=utf-8;base64,{{>font}});
}

/* Pseudo Elements */

:root {
  --primary:    hsl(85 15% 45%);
  --accent:     hsl( 0 45% 45%);
  --highlight:  hsl(55 75% 75%);
  --text:       hsl(85  5% 30%);
  --background: hsl(55  5% 95%);
  --content-width: 50rem;
  --line-thickness: 2px;
  --radius: 0.5rem;
  --gutter: 1rem;
  font-size: 18px;
  font-family: 'custom', monospace;
  color: white;
  background: var(--primary);
}

* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
}

:first-child { margin-block-start: 0 !important; }
:last-child  {   margin-block-end: 0 !important; }

::selection {
  color: var(--text);
  background: var(--highlight);
}

/* Layout */

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: 100svh;
}

body {
  display: grid;
  gap: var(--gutter);
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  align-items: start;
  padding: var(--gutter);
}

body > * {
  margin-block: 0 !important;
  width: 100%;
  max-width: var(--content-width);
}

main {
  display: grid;
  gap: var(--gutter);
  grid-template-columns: 1fr;
}

main > * {
  margin-block: 0 !important;
}

/* Text Elements */

h1, h2, h3, h4, p, ul, ol, img {
  margin-block: var(--gutter);
}

h1, h2, h3, h4 {
  line-height: 1;
}

p, li, th, td {
  line-height: 1.5;
}

h1 { font-size: 2rem; font-weight: normal; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }

a {
  color: inherit;
  text-decoration: underline;
}

article a {
  text-decoration-color: var(--accent);
}

a:not(h1 > a):hover {
  color: var(--accent);
}

h1 > a {
  text-decoration: none;
}

th, strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p > code {
  display: inline-block;
  padding: 0.25rem;
  color: white;
  background: var(--primary);
  border-radius: var(--radius);
}

pre, blockquote {
  margin-block: 2rem;
  padding: var(--gutter);
}

pre {
  font-size: 1rem;
  border-top: var(--line-thickness) solid var(--text);
  border-bottom: var(--line-thickness) solid var(--text);
}

blockquote {
  border-left: var(--line-thickness) solid var(--text);
  border-right: var(--line-thickness) solid var(--text);
}

/* Other Elements */

ul, ol {
  padding: 0;
  list-style-position: inside;
}

li:has(input[type="checkbox"]:disabled) {
  list-style-type: none;
}

img {
  display: inline-block;
  max-width: min(100%, 200px);
  max-height: min(75vh, 200px);
  max-height: min(75svh, 200px);
  border-radius: 50%;
  user-select: none;
}

img.size100 {
  max-width: min(100%, 100px);
  max-height: min(75vh, 100px);
  max-height: min(75svh, 100px);
}

p:has(img:only-child) {
  margin-block: 2rem;
}

hr {
  margin: 4rem auto;
  width: 100%;
  height: var(--line-thickness);
  border: none;
  outline: none;
  background: var(--text);
}

table, th, td {
  border-collapse: collapse;
}

table {
  width: 100%;
  margin-block: 2rem;
  background: white;
  border: var(--line-thickness) solid var(--text);
}

thead {
  color: white;
  background: var(--primary);
}

th, td {
  padding: 0.5rem;
  border: var(--line-thickness) solid var(--text);
}

thead tr:not(:has(th:not(:empty))) {
  display: none;
}

/* Helper Classes */

.text-center { text-align: center; }
.text-right { text-align: right; }

/* Card */

.card {
  padding: var(--gutter);
  color: var(--text);
  background: white;
  border-radius: var(--radius);
  overflow: hidden;
}

/* CSS Grid */

.grid {
  display: grid;
  column-gap: var(--gutter);
  row-gap: var(--gutter);
  justify-items: stretch; /* cell content X */
  align-items: start; /* cell content Y */
  justify-content: stretch; /* column spacing X */
  align-content: start; /* row spacing Y */
}

.grid > * { margin: 0 !important; }

.grid.no-gap, .grid.no-gap-x { column-gap: 0; }
.grid.no-gap, .grid.no-gap-y { row-gap: 0; }

.grid.x-spread { justify-content: space-between; }
.grid.y-spread { align-content: space-between; }

.grid.items-x-center { justify-items: center; }
.grid.items-y-center { align-items: center; }

.grid.items-x-stretch { justify-items: stretch; }
.grid.items-y-stretch { align-items: stretch; }

.grid.fill-auto { grid-template-columns: 1fr auto; }
.grid.auto-fill { grid-template-columns: auto 1fr; }

/* Small Screens */
@media screen and (max-width: 800px) {
  .screen-lg {
    display: none !important;
  }

  .grid.stack {
    grid-template-columns: 1fr;
  }
}

/* Large Screens */
@media screen and (min-width: 801px) {
  .screen-sm {
    display: none !important;
  }
}