@font-face {
  font-family: 'custom';
  src: url(data:application/x-font-ttf;charset=utf-8;base64,{{>font}});
}

:root {
  --primary:   hsl(85 15% 45%);
  --accent:    hsl( 0 45% 45%);
  --highlight: hsl(55 75% 75%);
  --light:     hsl(55  5% 98%);
  --medium:    hsl(55  5% 90%);
  --dark:      hsl(85  5% 30%);
  --text: var(--light);
  --background: var(--primary);
  --content-width: 50rem;
  --line: 2px;
  --radius: 0.5rem;
  --margin: 1rem;
  --padding: 1rem;
  font-size: 18px;
  font-family: 'custom', monospace;
  color: var(--text);
  background: var(--background);
}

* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
}

:first-child { margin-block-start: 0 !important; }
:last-child  {   margin-block-end: 0 !important; }

::selection {
  color: var(--dark);
  background: var(--highlight);
}

body {
  padding: 0;
  min-width: 380px;
  min-height: 100vh;
  min-height: 100svh;
}

body, main {
  display: flex;
  flex-direction: column;
}

main, main > :last-child {
  flex: 1;
}

header, section, footer {
  color: var(--text);
  background: var(--background);
}

header > *, section > *, footer > * {
  max-width: var(--content-width);
  margin-inline: auto
}

header {
  --text: var(--light);
  --background: var(--dark);
}

section {
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 15%), transparent);
}

footer {
  --text: var(--light);
  --background: var(--dark);
}

header, section, footer, .card {
  padding: var(--padding);
}

h1, h2, h3, h4, h5, h6, p, ul, ol, img, table, hr, select, details, summary, .card {
  margin-block: var(--margin);
}

h1, h2, h3, h4, h5, h6, p, li, th, td {
  line-height: 1.5;
}

h1 { font-size: 2rem; font-weight: normal; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }

h1.huge { font-size: 4rem; font-weight: bold; }

a {
  color: inherit;
  text-decoration: underline;
}

.card a {
  text-decoration-color: var(--accent);
}

a:not(h1 > a):hover {
  color: var(--accent);
}

h1 > a {
  text-decoration: none;
}

th, strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

ul, ol {
  padding: 0;
  list-style-position: inside;
}

img {
  display: block;
  max-width: min(100%, 200px);
  max-height: min(75vh, 200px);
  max-height: min(75svh, 200px);
  margin-inline: auto;
  border-radius: 50%;
  user-select: none;
}

img.size100 {
  width: 100px;
  height: 100px;
}

img.size200 {
  width: 200px;
  height: 200px;
}

hr {
  margin-inline: auto;
  width: 100%;
  height: var(--line);
  border: none;
  outline: none;
  background: var(--text);
}

table, th, td {
  border-collapse: collapse;
}

table {
  width: 100%;
  background: var(--light);
  border: var(--line) solid var(--text);
}

table.fixed {
  table-layout: fixed;
}

thead, th {
  color: var(--dark);
  background: var(--medium);
}

th, td {
  padding: calc(var(--padding) / 2);
  border: var(--line) solid var(--text);
}

thead tr:not(:has(th:not(:empty))) {
  display: none;
}

select {
  display: block;
  width: clamp(10rem, 100%, var(--content-width) / 2);
  padding: 0.5rem;
  font-family: 'custom', monospace;
  font-size: 1rem;
  border: 1px solid var(--dark);
  border-radius: 0.25rem;
}

details {}

details > summary {}

.text-center { text-align: center; }
.text-right { text-align: right; }

.card {
  --text: var(--dark);
  --background: var(--light);
  width: 100%;
  color: var(--text);
  background: var(--background);
  border-radius: var(--radius);
  overflow: hidden;
}

.grid {
  display: grid;
  column-gap: var(--padding);
  row-gap: var(--padding);
  justify-items: stretch; /* cell content X */
  align-items: start; /* cell content Y */
  justify-content: stretch; /* column spacing X */
  align-content: start; /* row spacing Y */
}

.grid > * {
  width: 100%;
  margin: 0 !important;
}

.grid.no-gap, .grid.no-gap-x { column-gap: 0; }
.grid.no-gap, .grid.no-gap-y { row-gap: 0; }

.grid.x-spread { justify-content: space-between; }
.grid.y-spread { align-content: space-between; }

.grid.items-x-center { justify-items: center; }
.grid.items-y-center { align-items: center; }

.grid.items-x-stretch { justify-items: stretch; }
.grid.items-y-stretch { align-items: stretch; }

.grid.fill-2 { grid-template-columns: repeat(2, 1fr); }
.grid.auto-2 { grid-template-columns: repeat(2, auto); }
.grid.fill-auto { grid-template-columns: 1fr auto; }
.grid.auto-fill { grid-template-columns: auto 1fr; }

.grid.auto-fill-auto { grid-template-columns: auto 1fr auto; }

/* Small Screens */
@media screen and (max-width: 800px) {
  .screen-lg {
    display: none !important;
  }

  .grid.stack {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

/* Large Screens */
@media screen and (min-width: 801px) {
  .screen-sm {
    display: none !important;
  }
}

[x-cloak] { display: none !important; }